.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}
nav.bg-dark {
  background-color: rgb(38, 71, 94) !important;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: -10px;
}
#user {
  position: relative;
  left: 6%;
  color: white;
  margin-top: 15px;
  cursor: pointer;
}
#home {
  position: relative;
  top: -4%;
  right: 4%;
}

/* responsive */
@media (min-width: 320px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    top: -7px;
  }
  #home {
    position: relative;
    right: 1.2%;
    bottom: -2px;
  }
  #user {
    position: relative;
    left: -0.5%;
    color: white;
    top: 1%;
    margin-top: 25px;
  }
  a.dropdown-toggle {
    margin-top: -8%;
  }
  #navbarSupportedContent {
    margin-left: 9%;
  }
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    top: -7px;
  }
  #home {
    position: relative;
    top: -4%;
    right: 1.2%;
  }
  #user {
    position: relative;
    left: 0%;
    color: white;
    top: 1%;
  }
  #navbarSupportedContent {
    margin-left: 6%;
  }
  a.dropdown-toggle {
    margin-top: -3%;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > {
    top: -7px;
  }
  #home {
    position: relative;
    top: -4%;
    right: 1.2%;
  }
  #user {
    position: relative;
    left: 0%;
    color: white;
    top: 1%;
  }
  #navbarSupportedContent {
    margin-left: 5%;
  }
  a.dropdown-toggle {
    margin-top: -1%;
    margin-left: -1%;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    top: -7px;
  }
  .dropdown {
    margin-left: -8rem;
  }
}
